/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #3bb77e;
  --heading-Color: #253d4e;
  --hover-heading: #fdc040;
  --text-color: #7e7e7e;
  --hover-butten: #29a56c;
  --main-transation: 0.2s;
}

body {
  font-family: "Quicksand", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1199px) {
  .container {
    width: 1170px;
  }
}
/* X-large */
@media (min-width: 1479px) {
  .container {
    width: 1470px;
  }
}

/* XX-large */
@media (min-width: 1650px) {
  .container {
    width: 1640px;
  }
}

/* End Global Rules */

/* Upper Nav Style */

.upper-nav {
  padding: 10px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.158);
}
.upper-nav .container {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.801);
}

.upper-nav .container .left {
  display: flex;
}

.sperator {
  margin-right: 8px;
  margin-left: 8px;
  opacity: 0.4;
}

.upper-nav .toggle {
  font-weight: bold;
}

.upper-nav .right {
  display: flex;
}
.upper-nav .phone span {
  color: var(--main-color);
  font-weight: bold;
}

.upper-nav .right .dropdown {
  position: relative;
}
.upper-nav .right .dropdown:hover {
  cursor: pointer;
}

.upper-nav .right .dropdown:hover .drop {
  opacity: 1;
  position: absolute;
  top: 100%;
  z-index: 1;
}
.upper-nav .right .drop {
  position: absolute;
  transition: var(--main-transation);
  top: 150%;
  opacity: 0;
  z-index: -1;
  width: 10em;
  background-color: white;
  padding: 15px;
  box-shadow: 5px 9px 37px -9px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.upper-nav .right .drop .flags {
  display: grid;
  gap: 6px;
}
.upper-nav .right .drop .flags li {
  display: flex;
  align-items: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.upper-nav .right .image {
  width: 20%;
  margin-right: 10px;
}

/* End Upper Nav Style */

/*  Nav Style */

nav {
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.158);
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  width: 10%;
}
nav .search {
  width: 45%;
  display: flex;
  align-items: center;
  border: 1px solid var(--main-color);
  padding: 15px 15px;
  border-radius: 4px;
  justify-content: space-between;
}
nav .search .dropdown {
  font-weight: bold;
  font-size: 12px;
  color: var(--heading-Color);
  display: flex;
  align-items: center;
}
nav .search .search-left {
  display: flex;
  width: 90%;
}
nav .search .dropdown i {
  font-size: 9px;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
nav .search input {
  border: none;
  font-size: 11px;
  outline: none;
  padding-left: 0.3em;
  width: 69%;
}

nav .search i {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.315);
}

nav .location {
  color: var(--hover-butten);
  box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.062);
  font-size: 14px;
  transition: 0.2s;
}
nav .location:hover {
  margin-top: -10px;
  cursor: pointer;
  color: var(--main-color);
  font-weight: bold;
  margin-right: -4px;
}
nav .location i {
  font-size: 12px;
  margin-right: 5px;
  color: initial;
}
nav .location i:nth-child(2) {
  font-size: 9px;
  margin-left: 5px;
}
nav .icons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  margin-left: 1em;
}
nav .icons .item {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
nav .icons .item img {
  margin-right: 0.7em;
}

nav .icons .item:not(.item:last-child):before {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: -6px;
  left: 13px;
  position: absolute;
  background-color: var(--main-color);
}

nav .icons .item:nth-child(1)::before {
  content: "3";
}
nav .icons .item:nth-child(2)::before {
  content: "6";
}
nav .icons .item:nth-child(3)::before {
  content: "2";
}

/* End Nav Style*/

/* Start Lower Nav Style */

.lower-nav {
  padding: 15px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.158);
}
.lower-nav .container {
  display: flex;
  justify-content: space-between;
}

.lower-nav .browse-btn {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  color: white;
  padding: 13px 20px;
  font-weight: bold;
  border-radius: 5px;
}

.lower-nav .browse-btn .image {
  display: flex;
  margin-right: 0.3em;
}
.left-nav {
  display: flex;
}
.lower-nav ul {
  margin-left: 2em;
  display: grid;
  grid-template-columns: repeat(9, auto);
  gap: 2.5em;
  font-weight: bold;
}
.lower-nav ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--heading-Color);
}
.lower-nav ul li i:first-child {
  font-size: 16px;
  color: var(--main-color);
  margin-right: 0.4em;
}
.lower-nav .selected-page {
  color: var(--main-color);
}
.lower-nav i {
  font-size: 10px;
  margin-left: 0.8em;
}
.lower-nav .hotline {
  display: flex;
}
.lower-nav .column-2 {
  margin-left: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lower-nav .column-2 .row-2 {
  font-size: 0.78em;
}
.lower-nav .column-2 .row-1 {
  font-size: 1.6em;
  font-weight: bold;
  color: var(--main-color);
}
/* End Lower Nav Style */

/* Start Section 1 Style */

.section-1 {
  background-image: url("/images/banner-12.png");
  padding: 3em;
}
.section-1 .container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 25px;
}
.section-1 .container .card {
  border-radius: 25px;
  background-color: black;
}

.section-1 .card-1 {
  padding: 110px 70px 20px;
  background: url("images/slider-3.png");
  background-size: cover;
  grid-column: span 2;
}
.section-1 .card-1 .heading {
  font-size: 4.4em;
  font-weight: bold;
  color: var(--heading-Color);
  margin-bottom: 15px;
  line-height: 70px;
}
.section-1 .card-1 p {
  font-size: 1.7em;
  font-weight: 600;
  color: var(--text-color);
}

.section-1 .email {
  background-color: white;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  padding-left: 20px;
  margin-top: 3.5em;
}
.section-1 .email i {
  color: var(--text-color);
}
.section-1 .card-1 .switch {
  margin-top: 5em;
  align-self: flex-end;
  display: flex;
  justify-content: center;
}
.section-1 .card-1 .switch div {
  border-radius: 50%;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: 4px;
  cursor: pointer;
}
.section-1 .card-1 .switch :first-child {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.section-1 .email button {
  padding: 22px 40px;
  background-color: var(--main-color);
  color: white;
  border-radius: 50px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}
.section-1 .email button:hover {
  background-color: var(--hover-butten);
}
.section-1 .email input {
  border: none;
  outline: none;
  padding-left: 10px;
}
.section-1 .email input::placeholder {
  font-size: 14px;
}
.section-1 .card-2 {
  border-radius: 15px !important;
  padding: 50px;
  background: url("images/banner-11.png");
  background-size: cover;
}

.section-1 .card-2 .heading {
  font-size: 2.8em;
  font-weight: bold;
  color: var(--heading-Color);
}
.section-1 .card-2 .heading span {
  color: var(--main-color);
}
.section-1 .card-2 .btn {
  margin-top: 40px;
  background-color: var(--main-color);
  width: fit-content;
  padding: 10px 15px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  transition: var(--main-transation);
  cursor: pointer;
}
.section-1 .card-2 .btn i {
  font-size: 9px;
  margin-left: 5px;
  transition: 0.4s;
}
.section-1 .card-2 .btn:hover {
  background-color: var(--hover-heading);
}
.section-1 .card-2 .btn:hover i {
  margin-left: 10px;
}
/* End Section 1 Style */
